html * {
    margin: 0;
}

/* GENERAL */

.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}

body {
    background: #fff;
    color: #333;
    font: 11px verdana, arial, helvetica, sans-serif;
}
#grailsLogo {
	padding:20px;
}

a:link, a:visited, a:hover {
    color: #666;
    font-weight: bold;
    text-decoration: none;
}

h1 {
    color: #017a73;/*#48802c;*/
    font-weight: normal;
    font-size: 16px;
    margin: .8em 0 .3em 0;
}

ul {
    padding-left: 15px;
}

input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    font: 11px verdana, arial, helvetica, sans-serif;
    margin: 2px 0;
    padding: 2px 4px;
}
select {
   padding: 2px 2px 2px 0;
}
textarea {
	width: 250px;
	height: 150px;
	vertical-align: top;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
}

.body {
    float: left;
    margin: 0 15px 10px 15px;
}

/* NAVIGATION MENU */

.nav {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-style: solid none solid none;
    margin-top: 5px;
    padding: 7px 12px;
}

.menuButton {
    font-size: 10px;
    padding: 0 5px;
}
.menuButton a {
    color: #333;
    padding: 4px 6px;
}
.menuButton a.home {
    background: url(../images/skin/house.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.list {
    background: url(../images/skin/database_table.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.create {
    background: url(../images/skin/database_add.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

/* MESSAGES AND ERRORS */

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}
div.errors ul {
    list-style: none;
    padding: 0;
}
div.errors li {
	background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

td.errors select {
    border: 1px solid red;
}
td.errors input {
    border: 1px solid red;
}
td.errors textarea {
    border: 1px solid red;
}

/* TABLES */

table {
    border: 1px solid #ccc;
    width: 100%;
    border-collapse:collapse;
}
tr {
    border: 0;
}
td a:link
{
	font-weight:normal;
	display:block;
}
td, th {
    font: 14px verdana, arial, helvetica, sans-serif;
    line-height: 12px;
    padding: 8px 10px;
    text-align: left;
    vertical-align: top;
    border: 1px solid #e5e5e5;
}
th:last-child
{
	 border: 1px solid #e5e5e5;
}
th {
	border-right: 1px solid #B7B7B7;
   /* background: #fff url(../images/skin/shadow.jpg);*/
   	background-color: #e5e5e5;
    color: #333333;
    font-size: 14px;
    padding: 10px;
    /*color:#666*/
    /*font-size: 11px;*/
    /*font-weight: bold;
    line-height: 17px;
    padding: 2px 6px;*/
}
th a:link, th a:visited, th a:hover {
    color: #333;
    display: block;
    /*font-size: 10px;*/
    text-decoration: none;
    width: 100%;
    font-weight: normal;
}
th.asc a, th.desc a {
    background-position: right;
    background-repeat: no-repeat;
}
th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}
th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
    background: #f7f7f7;
}
.even {
    background: #fff;
}

/* LIST */

.list table {
    border-collapse: collapse;
}
.list th, .list td {
    border-left: 1px solid #ddd;
}
.list th:hover, .list tr:hover {
    background: #b2d1ff;
}

/* PAGINATION */

.paginateButtons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-top: 0;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
}
.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}
.paginateButtons span {
    padding: 2px 3px;
}

/* DIALOG */

.dialog table {
    padding: 5px 0;
}

.prop {
    padding: 5px;
}
.prop .name {
    text-align: left;
    width: 15%;
    white-space: nowrap;
}
.prop .value {
    text-align: left;
    width: 85%;
}

/* ACTION BUTTONS */

.buttons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    color: #666;
    font-size: 10px;
    margin-top: 5px;
    overflow: hidden;
    padding: 0;
}

.buttons input {
    background: #fff;
    border: 0;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;
}
.buttons input.delete {
    background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.edit {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.save {
    background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
    padding-left: 28px;
}


form li
{
	list-style: none;
}



/* MJ */

#content h1
{
	padding: 10px 0;	
	/*text-shadow: 1px 1px 3px gray;*/
}

#content ul
{
	padding:0;
	margin:0;
}

.button-link
{
	color: black !important;
	font-weight: normal !important;
	font-size: 14px;
	padding : 3px 10px;
	border: 1px solid #b7b7b7;
	background-color: #e5e5e5;
	-moz-border-radius:2px;
	border-radius:2px;
	-moz-box-shadow: inset 0px 8px 8px white;
	box-shadow: inset 0px 8px 8px white;
	margin: 0 3px 0 0;
	text-shadow: none;
}

.flt-right
{
	float:right;
}

/* MJ Forms */

form .info
{
	vertical-align: sub;
	line-height: 25px;
}

form li *
{
	font-size: 14px;
}

form li label
{
	display: inline-block;
    width: 15%;
}

input[type="text"], input[type="password"], select
{
	border-color: #b7b7b7;
	-moz-border-radius:2px;
	border-radius:2px;
	padding: 3px;
	-moz-box-shadow: inset 3px 3px 5px #e5e5e5;
	box-shadow: inset 3px 3px 5px #e5e5e5;
}

select, select *
{
	background:transparent !important;
}

input[type="submit"]
{
	border-color: #b7b7b7;
	background-color: #e5e5e5;
	-moz-border-radius:2px;
	border-radius:2px;
	-moz-box-shadow: inset 0px 9px 9px white;
	box-shadow: inset 0px 9px 9px white;
	cursor: pointer;
}

input[type="submit"]:hover, .button-link:hover
{
	background-color: #c6dedd;
}

.small, .medium, .large
{
	box-sizing:content-box;
	-ms-box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box; 
}

.small
{
	width: 15%;
}

.medium
{
	width: 30%;
}

.large
{
	width: 45%;
}

/* paginate */
 .paginateButtons .currentStep
 {
 	font-size:14px;
 }
 
.paginateButtons a.step
{
	background-color: #e5e5e5;
	font-size:14px;
	border-color: #b7b7b7;
	-moz-border-radius:2px;
	border-radius:2px;
}

.step, .currentStep
{
	display:none;
}

.paginateButtons
{
	border: 0px;
	text-align: right;
	background:transparent;
	padding-right:0px;
}

.paginateButtons .prevLink
{
	font-size:14px;
	border-color: #b7b7b7;
	background:	#e5e5e5 url(../images/arrow-left.png) center center no-repeat;
	background:	url(../images/arrow-left.png) center center no-repeat,
				-moz-linear-gradient(white, lightgray);
	-moz-border-radius:2px;
	border-radius:2px;
	padding: 3px 20px;
}

.paginateButtons .nextLink
{
	font-size:14px;
	border-color: #b7b7b7;
	background: #e5e5e5 url(../images/arrow-right.png) center center no-repeat;
	background: url(../images/arrow-right.png) center center no-repeat,
				-moz-linear-gradient(white, lightgray);
	-moz-border-radius:2px;
	border-radius:2px;
	padding: 3px 20px;
}

.paginateButtons .nextLink:hover
{
	background: #e5e5e5 url(../images/arrow-right.png) center center no-repeat;
	background: url(../images/arrow-right.png) center center no-repeat,
				-moz-linear-gradient(white, #9fd2cf);
}

.paginateButtons .prevLink:hover
{
	background:	#e5e5e5 url(../images/arrow-left.png) center center no-repeat;
	background: url(../images/arrow-left.png) center center no-repeat,
				-moz-linear-gradient(white, #9fd2cf);
}

/* Table */

a.edit:link
{
	color: #333333;
	padding: 2px 20px 2px 0px; 
	background: transparent url(../images/pencil2.png) center right no-repeat;
}

a.edit:hover
{
	padding: 2px 20px 2px 0px; 
	color:black;
	background: transparent url(../images/pencil.png) center right no-repeat;
}

.info1, .info2
{
	border: solid 1px white;
	height: 110px;
	width: 300px;
	float:left;
	background-color: white;
	margin: 20px 20px 0 0 ;
	-moz-border-radius:10px;
	border-radius:10px;
	padding: 20px 20px;
	-moz-box-shadow: inset 6px 6px 8px lightgray,
					 inset -3px -3px 8px lightgray;
	box-shadow: inset 6px 6px 8px lightgray,
					 inset -3px -3px 8px lightgray;		
	position:relative;		
	background: -moz-linear-gradient(white, lightgray); 
	background: -webkit-linear-gradient(white, lightgray); 
	background: -o-linear-gradient(white, lightgray); 
	background: linear-gradient(white, lightgray);
}

.info1 p, .info2 p
{
	font-size: 26px;
	vertical-align: middle;
	padding-left: 158px;
	font-family: Times New Roman;
	padding-top: 10px;
	z-index: 605;
	
}

.info1 p:before
{
	display: block;
	content: url(../images/social_network.png);
	position: absolute;
	left: 20px;
	top: 10px;
}

.info1 p:after, .info2 p:after
{
	display: block;
	content: url(../images/tick.png);
	position: absolute;
	right: -10px;
	bottom: -20px;
	z-index: 501;
}

.info2 p:before
{
	display: block;
	position: absolute;
	left: 20px;
	top: 10px;
	content: url(../images/school_bus.png);
}
